/*=====================================Configurações Globais====================================*/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); /*Fonte importada (Roboto)*/
@import url('https://fonts.googleapis.com/css2? family= Allura & family= Aref+Ruqaa+Ink:wght@400;700 & family= Cookie & family= Roboto:wght@300; 400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Aref+Ruqaa+Ink:wght@400;700&family=Cookie&display=swap');

html{
    height: 5000px;
}

*{
    margin: 0; padding: 0;
}

/*Variáveis*/
:root{
    /*Fontes*/
    --Roboto: 'Roboto', sans-serif;
    --Font:'Aref Ruqaa Ink', serif;
    --Poppins: 'Poppins', sans-serif;

    /*Tons de Amarelo*/
    --amarelo: #FFE536;

    /*Branco*/
    --branco: #ffffff;
}

.menu .seleção ol{
    list-style: none;
    display: flex;
    
}
.menu .seleção ol li a{
    text-decoration: none;
    color: var(--branco);
    padding: 0 120px 0 120px;
    font: 500 20px var(--Roboto);
    transition: ease-in-out 0.9s;
}

.menu .seleção ol li:hover{
    transform: scale(1.06); transition: ease-out 0.9s;
}

.banner img{
    margin-top: 83px;
    width: 100%; height: 85vh;
}

@media (max-width: 720px){
    .menu .seleção{
        display: none;
    }
    .banner img{
       width: 100%; object-fit: cover; object-position: -420px 0px;
    }
}






