/*=====================================Configurações Globais====================================*/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); /*Fonte importada (Roboto)*/
@import url('https://fonts.googleapis.com/css2? family= Allura & family= Aref+Ruqaa+Ink:wght@400;700 & family= Cookie & family= Roboto:wght@300; 400;700 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Aref+Ruqaa+Ink:wght@400;700&family=Cookie&display=swap');


*{
    margin: 0; padding: 0;
}

/*Variáveis*/
:root{
    /*Fontes*/
    --Roboto: 'Roboto', sans-serif;
    --Font:'Aref Ruqaa Ink', serif;
    --Poppins: 'Poppins', sans-serif;

    /*Tons de Amarelo*/
    --amarelo: #FFE536;

    /*Branco*/
    --branco: #ffffff;

    /*Tons de Azul*/
    --azul-escuro: #1f2a56;
    --azul-claro-transparente: #109BD78F;
}

.menu .seleção ol{
    list-style: none;
    display: flex;
    
}
.menu .seleção ol li a{
    text-decoration: none;
    color: var(--branco);
    padding: 0 9vw;
    font: 500 20px var(--Roboto);
    transition: ease-in-out 0.9s;
}

.menu .seleção ol li:hover{
    transform: scale(1.06); transition: ease-out 0.9s;
}

.banner img{
    margin-top: 88px;
    width: 100%; height: 89vh;
}
.banner a{
    pointer-events: none
}

@media (max-width: 920px){
    .menu .seleção{
        display: none;
    }
    .banner img{
       width: 100%; object-fit: cover; object-position: -420px 0px;
    }
}


.selection {
    font: bold 24px 'Roboto';
    text-align: center;
    color: white;
    padding: 25px 0;
   }
.splide {
    top: -4px;
    display: block;
    background-image: linear-gradient(190deg, var(--azul-escuro) 70%, #01326A 100%);
    padding-bottom: 50px;
    height: 100%;
    z-index: 1;
   }
   
   /* Adicione este estilo para a classe slide-content */
   .slide-content {
    position: relative;
    height: 100%;
   }
   
   /* Adicione este estilo para a classe slide-title */
   .slide-title, .slide-title1 {
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: center;
    font: 600 40px var(--Roboto);
    letter-spacing: 2.5px;
   }






